
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
  /* overflow: auto; */

}

header
{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 40px 100px; */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  /* width: 50%; */
 border-radius: 5px; 
 box-shadow: #ffffff 2px 2px 10px; 
 cursor: pointer;
 animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 8px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background: #111; */
 background: linear-gradient(180deg, #4a759f, #18385e, #4a759f);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 470px;
  object-fit: cover;
  opacity: 0.8;
}
/* .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
} */


.text
{
  position: relative;
  z-index: 10;
  padding: 51px;
  width: 100%;
  margin: 10px;
}


.text h2
{
  font-size: 3em;
  font-weight: 300;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
  animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
.text h3
{
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 3px 6px #000000b8;
  line-height: 1em;
  text-transform: uppercase; letter-spacing: 4px;
}

#destinos {
  padding: 25px 0;
}

.nos {
  text-align: center;
}
.text p
{
  font-size: 1.1em;
 line-height: 30px; color: #fff;
  margin: 20px 00;
  font-weight: 400;
  /* max-width: 700px; */
  animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
  border-radius: 0 11px 11px 0;
  background-color: #18385e;
  color: #fff;
}

.art {
  padding: 14px;
  margin: 5px;
  background-color: #ffffff38;
  /* border-radius: 10px; */
  box-shadow: 0 0 9px 0px rgb(0 0 0 / 55%);
    
}

.art ol {
  list-style: none;
  color: white;
  letter-spacing: 2px;
  line-height: 40px;
  cursor: pointer;
}

.art li {
  transition: 0.6s;
}



/* ACA prueba y funciono ( BORRADO POR QUE ERA PARA OTRO COMENTARIOS, PUSE TITLE Y VA MEJOR )

[title]:hover:after {
  opacity: 1;
 transition: all 0.6s ; LO APAGO A VER Q ONDA
  visibility: visible;
}
[title]:after {
  content: "";
  background-color: #18385ec9;
  color: #fff;
  /* font-size: 10px; apago  */
  /* position: absolute; 
  padding: 2px 5px;
  transition: all 0.7s ;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  z-index: 99999;
  visibility: hidden;
  
}

/* terminaprueba */
/* ESTO ES NUEVO EJEMPLO DE STAFF POR EJ YO VER */
.one {
  position: relative;
}

.one::after {
    content: attr(dat-title);
    display: inline-block;
    background-color: #577391;
    color: #fff;
    padding: 0px 2px;
    border-radius: 0px;
    position: absolute;
    top: 100%;
    /* left: 50%; */
    transform: translateX(-50%);
    border: solid 1px #ffffff52;
    z-index: 999;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }

  .one:hover::after {
    opacity: 1;
    visibility: visible;
  }

/* TERMINA EL EJEMPLO DE STAFF  */



#staff {
  width: 99%;
   
}

#staff .nos {
  background-image: linear-gradient( rgb(0, 0, 0, 25%), rgb(0, 0, 0, 25%)), url("../img/staff.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 9px 0px rgba(0 0 0 / 50%);
  padding: 12px;
  border-radius : 4px;
}

#staff article {
  padding: 24px;
  /* background-image: url("../img/staff.jpg");
  background-size: contain;
  background-repeat: no-repeat; */
  border-radius: 10px;
  box-shadow: 0 0 9px 0px rgb(0 0 0 / 55%);
  /* column-count: 2;
  column-width: auto;
  column-gap: 20px; */
}

#staff strong {
  letter-spacing: 5px;
}

#staff li:hover {
  font-size: 16px;
  line-height: 45px;
  text-shadow: 2px 3px 5px #000000de;
}

#staff abbr{
  text-decoration: none;
}

article abbr {
  display: grid;
}

#staff p {
  margin: 3px 00;
}

.contcard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.elige {
  color:#000000;
  background: linear-gradient(28deg, #4a759f, #ffffff54, #4a759f);
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.10), rgba(245, 245, 245, 1)), url(../img/elige.jpg)  */
  /* background-repeat: no-repeat;
  background-size: contain; */
  width: 100%;
  padding: 30px;
  border-radius: 8px ;
  box-shadow: 0 0 9px 0px rgb(0 0 0 / 55%);
}

#elegirnos .nos {
  background-image: linear-gradient( rgb(0, 0, 0, 25%), rgb(0, 0, 0, 25%)), url("../img/elige.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 9px 0px rgba(0 0 0 / 50%);
  padding: 12px;
  border-radius : 4px;
}

details {
  font-size: 1.1em;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  outline: none;
  /* animation: scale-up-center 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}

details[open]{
  animation: sweep .5s ease-in-out;
}

summary {
  transition: all 0.6s ease-in-out;
}

summary:hover {
letter-spacing: 3px;
transition: all 0.6s ease-in-out;
}

/* details[close]{
  animation :none;
} */

.noti {
  width: 75%;
  height: auto;
  display: block;
  margin: 5% auto;
  opacity: 0.9;
  box-shadow: 3px 3px 7px 3px rgb(255 255 255 / 34%);
  border-radius: 8px;
}
img.noti{
  transition: all 2s;
}

img.noti:hover {
  width: 99%;
}


.social
{
  /* position: absolute; */
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
  font-size: 50px;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  /* filter: invert(1); */
  color: #fff;
  transform: scale(0.7);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
  padding :10px;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

.card {
  color: white;
  background-color: white;
  z-index: 10;
  width: 48%;
  /* border: #ffffff82 1px solid;; */
  border-radius: 4px;
  text-align: center;
  /* padding: 6px; */
  /* box-shadow: 0 0 9px 0px rgb(255 255 255 / 18%); */
  box-shadow: 0 0 9px 0px rgb(0 0 0 / 55%);
  margin: 6px 0;
}

.card img {
  /* border-radius: 8px ;
  box-shadow: 0px 0px 9px 0px #ffffff63; */
  margin: 5px;
  opacity: 0.8; cursor: pointer;
  transition: 0.3s;
  

}

.card img:hover {
  opacity: 1;
  transition: .3s ease-in-out;
  width: 90%;
  
}

.card p {
  color: #000;
  border-top: outset 0.5px #b7b7b7;
  margin: 4px;
}

.card a:hover{
  background-color: white;
  text-decoration: none;
}


.blog {
  /* width: 80%; */
  /* background-color:white; */
  height: auto;
  background: #4a759f94;
  color: #ffffff;
  padding: 15px;
  letter-spacing: 1.5px;
  box-shadow: 3px 3px 9px 0px rgb(0 0 0 / 32%);
}

#blog .nos {
  background-image: linear-gradient( rgb(0, 0, 0, 25%), rgb(0, 0, 0, 25%)), url("../img/art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 9px 0px rgb(0 0 0 / 50%);
  padding: 12px;
  border-radius: 4px;
}


hr {
  border-color: rgb(74 117 159 / 38%);
}

.linea {
  border-top: 2px solid #ffffff;
  height: 2px;
  /* padding: 20px; */
  margin: 30px auto 0 auto;
  width:100%;
  z-index: 1;
}

#contacto .nos {
  background-image: linear-gradient( rgb(0, 0, 0, 25%), rgb(0, 0, 0, 25%)), url("../img/contac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 9px 0px rgba(0 0 0 / 50%);
  padding: 12px;
  border-radius : 4px;
}

/*FORMULARIO*/
.final {
  display: flex;
  justify-content: center;
margin:1px 12px;
width:90%;
height: auto;
margin-top: 21px;

}

#form {
  /* display: inline-grid; */
  border: #00000000 1px solid;
  padding: 30px;
  /* border-radius: 18px; */
  /* height: 350px; */
  width: 100%;
  /* border-radius: 1px 15px; */
  box-shadow: 0 0 11px 0px rgb(0 0 0 / 48%);
  color: white;
}
label {
  display:block;
  margin-top:20px;
  letter-spacing:1px;
  text-shadow: 2px 2px 4px grey;
  
}

input, textarea {
  width:95%;
  height:33px;
  background:rgb(255, 255, 255);
  border:0px solid #d4d1d1;
  padding:10px;
  margin-top:5px;
  font-size:16px;
  /* font-family: 'Nunito', sans-serif; */
  color:rgb(61, 61, 61);
  /* border-radius: 6px ; */
  /* box-shadow: 1px 1px 4px 1px #9a9a9a; */
  transition: all .3s ease-out;
  
}

textarea:hover {
  background:#fdfdfde1;
  box-shadow: 2px 2px 12px rgb(207, 207, 207);
}

input:hover {
  background:#fdfdfde1;
  box-shadow: 2px 2px 12px rgb(207, 207, 207);
}

textarea {
  height:150px;
  /* font-family: 'Nunito', sans-serif; */
}

#submit {
  width:85px;
  height:35px;
  border:none;
  margin-top:20px;
  cursor:pointer;
  border:0px solid #d4d1d1;
}

/* BOTON DE SERVICION */
.bt1{
  transition: all 0.8s;
  padding:3px ;
}

.bt1:hover {
padding: 3px 80px;
transition: all 0.8s;
cursor: pointer;
}


/* Boton Subir */
/*botón up*/
.boton-subir{
  display: none;
  background: #4a759f;
  border: thin solid #fff;
  border-radius: 3px;
  position: fixed;
  right: 15px;
  bottom:2px;
  z-index: 999999999;
}
/*evento hover*/
.boton-subir:hover{
  box-shadow:   0px 2px 10px 0px rgba(255, 255, 255, 0.75);
}
/*estilos para el tag i*/
.boton-subir i{
  color: #fff;
  font-size: 1.5em;
  padding: 10px 10px 10px 7px;
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

.fa.fa-whatsapp {
  transition:  0.5s; 
    
  }

  .fa.fa-whatsapp:hover {
    color: #25d366
   
  }

  .fa.fa-facebook { 
    transition:  0.5s;
  }

  .fa.fa-facebook:hover {
    color: #3b5998
  }

#fin {
  text-align: center;
  padding:0px;
  width: 90%;
  margin: 10px;
  color: #ffffff;
}
.fin {
  width: 100%;
  text-align: -webkit-center;
}

.fer {
  /* text-align: right; */
    padding: 0px;
    /* width: 90%; */
    margin: 10px;
    color: #ffffff;
    font-size: 15px;

}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-10px);
}

100% {
    opacity: 1;
    transform: translateY(0);
}
}


/* Esto carga hasta la ventana de 991px como maximo --para mas grande ir al otro */
@media (max-width: 991px)
{
/*   .showcase,
  .showcase header
  {
    padding: 40px;
  }  */

  header .logo
{
  width: 65%;
}

[data-title]::after{
  margin-left: 10px;
}

#staff article {
  padding: 21px;
/*   column-count: 2;
  column-width: auto;
  column-gap: 20px; */

}

.card {
  /* width:48%; */
  border:#ffffff00 0px solid;
}

.video {
  height: 300px;
}
  .text h2
  {
    font-size: 1.5em;
    font-weight: 100;
  }
  .text h3
  {
    font-size: 2em;
  }

  .blog {
    width: auto;
  }

.text {
  padding: 14px 0px;
  
} 

/* #staff {
  width: auto;
} */


.elige {
  padding: 13px;
}

.elige p {
  margin: 8px 00;
  line-height: 25px;
}

.showcase video{
  height: 400px;
  
}

.final {
  width: 100%;
}

#form {
  width: 100%;
}

input, textarea {
  width: 100%;
}
/* .noti {
  width: 60%;
  margin: 3% auto;
} */
}


/* aca carga en pantalla grande mas de 992px en adelante, debe tener min 992 para arriba */
@media (min-width: 992px) {
  #staff article {
    column-count: 2;
    column-width: auto;
    column-gap: 20px;
    padding: 20px 38px;
  }
  [data-title]:after{
    /* margin-left: 5px; */
    padding: 0;
  }

  .noti {
    width: 50%;
    margin: 3% auto;
  }

  img.noti{
    transition: all 2s;
  }
/* AGRANDA LAS IMAGENES DE NOTICIA AL PASAR EL MOUSE */
  img.noti:hover {
    width: 60%;
    cursor: pointer;
  }

.blog {
  /* width: 85%; */
  margin: 1% 4%;
}

.card {
  width: 24%;
}

.art {
  padding: 30px;
}


   /* .whatsapp { */
     /* position:fixed; */
    
    /* width:60px;
    height:60px; */
    /* bottom:40px; */
    /* background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100; 
    box-shadow: 3px 3px 7px 0px #000000a1;
    transition: 0.3s;} */
   
  /*.whatsapp:hover {
    box-shadow: -3px -3px 7px 0px #000000;
    transition: 0.3s;
    }
    
    .whatsapp-icon {
      margin-top:13px;
    } */
}