* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }

body {
    padding:0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 9999;
}

p {
    font-size: 18px;
}

/* BARRA DE ARRIBA */
.arriba {
    padding:0px 20px 0px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
}

.titulos {
    text-align: center;
}

.titulos h3 {
    font-weight: 100 ;
    letter-spacing: 3px;
    font-size: 15px;
}

.titulos h1 {
    font-size:25px;
    letter-spacing: 3px;
}

.fa-bars {
    font-size: 30px;
    font-weight: 100px;
    cursor: pointer;
}

/* MENU */

.menu nav {
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding-top: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid grey;
    margin: 15px 70px 15px 70px;
}

.menu .liinicio {
    margin-top: 100px;
}

.menu .lifinal {
    border-bottom: none;
}

.menu a {
    text-decoration: none;
    color: grey;
    transition: .4s;
    letter-spacing: 3px;
}

.menu a:hover {
    color: rgb(255, 80, 80);
    font-size: 16px;

}

.menu {
    position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;

}

.menu .fa-times {
    font-size: 30px;
    padding: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    color: grey;
    font-weight: 100;
    transition: all .5s;
}

.menu .fa-times:hover{
    font-size: 40px;
}

.aparecemenu{
    display: block;
}

/* CENTRAL PRINCIPAL */

.principal {
    margin-top: 10px;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position:center;
    text-align: center;
    color: white;
}

.principal .opacidad {
    background-color: rgba(0, 10, 10, .4);
}

.txt {
    padding-top: 50px;
    padding-bottom: 150px;
}

.txt h2{
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 15px;
    padding:  50px 20% 0% 20%;

}

.txt h1{
    font-size: 50px;
    margin-top: 0;
    padding-top: 0%;
    margin-bottom: 30px;

}


.principal a{
    background-color: white;
    padding: 15px 25px;
    color:black;
    text-decoration: none;
    font-weight: 200;
    transition: .7s;
}

.principal a:hover{
    background-color: black;
    color: white;
}

/* ABAJO DE TODO */

.abajo, .abajo2, .abajo3 {
    padding: 20px;
}

.nos, .ser, .cont {
    text-align: center;
    height: auto;
    padding: 15px 50px;
    
}

.ser {
    background-image: linear-gradient( rgba(0, 0, 0, 0.10), rgba(245, 245, 245, 1)), url(../img/3.jpg);
    background-size: cover;
    border-radius: 10px;
    
}

summary {
    outline: none;
    cursor: pointer;
    font-size: 23px;

  }
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary:before { 
    content:" ";
  }
  
  details[open] > summary:before {
  content:" ";
  }
  
  details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
    background-color: rgba(194, 194, 194, 0.51);
    background-image: url(../img/4.jpg);
    padding: 15px;
    border-radius: 5px;
  }

  .nos details {
    padding: 12px 30px;
    display: flex;
}

/*FORMULARIO*/
.final {
    display:flex;
  margin:1px 12px;
  width:auto;
  height: auto;
  margin-top: 21px;
  justify-content: center;
  background-image: url(../img/4.jpg);
  background-size: cover;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
    text-shadow: 2px 2px 4px grey;
    
  }

form {
    margin: 20px;
    width: 400px;
    background-color: rgba(185, 185, 185, 0.3);
    padding: 18px 8px;
    border-radius: 8px 8px;
    box-shadow: 0px 0px 1px 1px rgba(173, 173, 173, 0.65);
  }
  
 
  input, textarea {
    width:380px;
    height:33px;
    background:rgba(255, 255, 255, 0.62);
    border:0px solid #d4d1d1;
    padding:10px;
    margin-top:5px;
    font-size:14px;
    font-family: 'Nunito', sans-serif;
    color:rgb(61, 61, 61);
    border-radius: 6px ;
    box-shadow: 1px 1px 4px 1px #9a9a9a;
    transition: all .3s ease-out;
    
  }
  
  textarea:hover {
    background:#91909044;
    box-shadow: 2px 2px 12px grey;
  }
  
  input:hover {
    background:#91909044;
    box-shadow: 2px 2px 12px grey;
  }
  
  textarea {
    height:150px;
    font-family: 'Nunito', sans-serif;
  }
  
  #submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    border:0px solid #d4d1d1;
  }

/* EDITAR EL TEXTO DEL PIE */
/* Div DEL PIE */
.pie {
    background-color: #525a63;
    color: white;
    width:100%;
    height:80px;
    margin: 0;
    margin-top:0;
    /* padding-top: 10px; */
  } 

.txtpie {
    /* width: 265px; */
    letter-spacing: 1px;
    text-align: center;
    transition: all .3s ease-out;
  }
  
  h3.txtpie:hover {
    transform: translate(0, 5px);
  }
  
  #linkpie {
    text-decoration: none;
      color: rgb(255, 255, 255);
  }

  .fn {
      text-decoration: none;
      font-size: 15px;
      color: rgb(235, 233, 233);
  }
  
  /* FIN DEL TEXTO DEL PIE */


/* PARA TABLET */

@media(min-width:640px)  {
    /*ESTE CÓDIGO ES PARA AGRANDAR LAS LETRAS, NO CAMBIA EN NADA EL MENÚ, SI GUSTAN PUEDEN BORRARLO NOrMAL*/
.arriba {
    padding-left: 30px;
    padding-right: 30px;
}
.txt h2{
    font-size: 25px;
    padding-top:  50px; 

    }
.txt h1{
    font-size: 90px;

}

.txt a{
     padding: 15px 25px;
     font-size: 20px;;
    }
  } 


/* PARA PC */

@media(min-width:1020px){
.txt h2 {
     font-size: 30px;
    padding:  90px 20% 0% 20%;
    animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;    

}

.txt h1 {
    font-size: 100px;
    animation: scale-up-center 0.9s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;    
}

.nos h2, .ser h2, .cont h2 {
    font-size: 50px;
}

.principal a {
    padding: 15px 30px;
    font-size: 25px;
}

.menu { 
    position: initial;
    display: initial;
    
}

.menu li:hover {
    -webkit-animation:alert 2s linear 0s 1 normal;
-moz-animation:alert 2s linear 0s 1 normal;
-ms-animation:alert 2s linear 0s 1 normal;
animation:alert 2s linear 0s 1 normal;
}

.menu ul {
    display: flex;
}

.menu li{
    margin-top: 0px;
    border-bottom: none;
    padding: 10px;
    margin: 0 0;

}

.menu .liinicio{
    margin-top: 0px;
}
.menu .lifinal{
    padding-right: 20px;
}

.menu .fa {
    display: none;
}

.bar .fa-bars {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}
/* form {
    margin: 20px;
    width: auto;
    background-color: rgba(185, 185, 185, 0.3);
    padding: 18px 8px;
    border-radius: 8px 8px;
    box-shadow: 0px 0px 1px 1px rgba(173, 173, 173, 0.65);
} */

}


@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes sweep {
    0%    {opacity: 0; transform: translateY(-10px)}
    100%  {opacity: 1; transform: translateY(0)}
  }

  /* OTRO KEY */

  @-webkit-keyframes alert {
    0%{ -webkit-transform: translateX(0); transform: translateX(0); }
    5%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    10%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    15%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    20%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    25%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    30%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    35%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    40%{ -webkit-transform: translateX(10px); transform: translateX(10px); }
    45%{ -webkit-transform: translateX(-10px); transform: translateX(-10px); }
    50%{ -webkit-transform: translateX(0); transform: translateX(0); }
    }
    
    @keyframes alert {
    0%{ -ms-transform: translateX(0); transform: translateX(0); }
    10%{ -ms-transform: translateX(-5px); transform: translateX(-5px); }
    25%{ -ms-transform: translateX(5px); transform: translateX(5px); }
    /* 15%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    20%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    25%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    30%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    35%{ -ms-transform: translateX(-10px); transform: translateX(-10px); }
    40%{ -ms-transform: translateX(10px); transform: translateX(10px); }
    45%{ -ms-transform: translateX(-10px); transform: translateX(-10px); } */
    50%{ -ms-transform: translateX(0); transform: translateX(0); }
    }